extends ../layout

block content
  .wrapper
    header.header
      a.header__logo.logo(href='/')
        img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
        span.logo__name Типотека
      if isAuth && isAdmin
        include ../partials/header-admin
      else if isAuth
        include ../partials/header-user
      else
        include ../partials/header-login
      a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
    main.main-page
      h1.visually-hidden Главная страница личного блога Типотека
      p.
        Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
      section.main-page__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each category in categories
            if category.count > 0
              li.themes__item
                a.themes__item-link(href='/articles/category/' + category.id)
                  | #{category.name}
                  sup  #{category.count}
      .main-page__section-flex
        section.main-page__hot.hot
          if articlesTop.length > 0
            h2.hot__name Самое обсуждаемое
              |
              |
              span.hot__icon.hot__icon--fire
            ul.hot__list
              each articleTop in articlesTop
                li.hot__list-item
                  a.hot__list-link(href='/articles/' + articleTop.id)
                    | #{articleTop.announce}
                    sup.hot__link-sup #{articleTop.commentCount}
          else
            h2.hot__name.hot__name--empty Самое обсуждаемое
              |
              |
              span.hot__icon.hot__icon--fire
            p.hot__empty Здесь пока ничего нет...
        section.main-page__last.last
          h2.last__name Последние комментарии
              |
              |
              span.last__icon.last__icon--cloud
          if lastComments.length > 0
            ul.last__list
              each comment in lastComments
                li.last__list-item
                  +getUserAvatar(comment.users, 'last__list-image', 20, 20)
                  b.last__list-name
                    +getUserName(comment.users)
                  a.last__list-link(href='/articles/' + comment.articleId) #{comment.text}
          else
            p.last__empty Здесь пока ничего нет...
      section.main-page__list.preview
        include ../partials/articles-preview
      +pagination(page, totalPages, 1)
    footer.footer
      include ../partials/footer

block scripts
  script(src='/js/main.js')
