extends ../layout

block content
  .wrapper
    include ../partials/header-admin
    main
      section.modal.modal--flex
        .popup.popup--new-publication.popup--flex
          .new-publication
            form(action='/articles/edit/' + articleId method='POST' enctype='multipart/form-data')
              .new-publication__header
                h1 Редактирование публикации
                .new-publication__date-form
                  h3 Дата публикации
                  .new-publication__date-form-division
                    .new-publication__date-block
                      label(for='new-publication-date' aria-label='Календарь')
                      input#new-publication-date(
                        type='text'
                        name='date'
                        placeholder=editArticle.createdAt
                        value=editArticle.createdAt
                      )
                    +errorFormEl(message.createdAt)
                button.new-publication__button.button.button--colored(type='submit') Сохранить
              button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
              .new-publication__form.form
                .form__wrapper.form__wrapper--intro
                  .form__field
                    label
                      input(type='text' name="title" placeholder='Заголовок' value=editArticle.title required)
                    +errorFormEl(message.title)
                  .form__field.form__field--post-image
                    label
                      input#image-name-field(type='text' name="picture" placeholder='Фотография' value=editArticle.picture readonly)
                    .form__image-loader.form__image-loader--publication
                      label
                        input.visually-hidden(type='file' name="img")
                        | Обзор
                  +errorFormEl(message.picture)
                  each category in categories
                    .new-publication__checkbox.new-publication__checkbox--auto
                      input(
                        id='checkbox-auto' + category.id
                        type='checkbox'
                        value=category.id
                        name='categories'
                        checked=editArticle.categories.includes(String(category.id))
                      )
                      label(for='checkbox-auto'  + category.id) #{category.name}
                  +errorFormEl(message.categories)
                  a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
                .form__wrapper.form__wrapper--text
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='2' name="announce" placeholder='Анонс публикации') #{editArticle.announce}
                  +errorFormEl(message.announce)
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='5' name="fullText" placeholder='Полный текст публикации') #{editArticle.fullText}
                  +errorFormEl(message.fullText)
        .modal__overlay

block scripts
  script(src='/js/vendor.js')
  script(src='/js/main.js')
