extends ../layout

block content
  .wrapper
    include ../partials/header-user
    main
      section.post
        h1.visually-hidden Пост
        section.post__content
          h2.visually-hidden Основное содержание
          .post__wrapper
            .post__head
              a.post__backwards.button.button--backwards(href='#') Назад
              time.post__date(datetime=article.createdAt)
                +formatDate(article.createdAt)
              h2.post__title.title.title--main #{article.title}
              ul.post__themes.themes
                each artCat in article.categories
                    each category in categories
                      if (artCat.id === category.id)
                        li.themes__item
                          a.themes__item-link(href='/articles/category/' + category.id) #{category.name}
                            sup #{category.count}
                          button.themes__remove-btn(type='button') Удалить категорию
            if article.picture
              .post__picture
                img(src='/img/' + article.picture alt=article.title)
            .post__text.
              #{article.fullText}
        .post__wrapper.post__wrapper--comments
          section.post__comments.comments
            if article.comments.length
              h2.comments__title.title.title--middle Комментарии
              ul.comments__list
                each comment in article.comments
                  li.comments__comment
                    .comments__avatar.avatar
                      img(src='/img/avatar-1.png' alt='аватар пользователя')
                    .comments__text
                      .comments__head
                        p Евгений Петров •
                        time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                      p.comments__message #{comment.text}
            else
              h2.comments__title.title.title--middle Комментарии отсутствуют
            .comments__footer.comments__footer--user
              form(action='/my/comments' method='POST')
                .comments__avatar.avatar
                  img(src='/img/avatar-2.png' alt='аватар пользователя')
                label
                  textarea(rows='1' name="text" placeholder='Присоединиться к обсуждению')
                input(name="articleId" value=article.id hidden)
                button.comments__button.button.button--colored(type='submit') Опубликовать
                +errorFormEl(message.text)
    footer.footer
      include ../partials/footer

block scripts
  script(src='/js/main.js')
